<div class="results">

    {% if pagination|default:None is not None %}
        <h2 class="results-total">
            Items found: {{ pagination.total }}<br />
            <small>Page {{ pagination.page }} of {{ pagination.pages }}</small>
        </h2>
    {% endif %}

    <ul class="results-list" role="navigation" aria-label="Results list">
        {% for item in items %}
            <li>
                <a href="{{ item.url }}">{{ item.text }}</a>
                {% if item.help_text|default:None is not None %}
                    <br /><small>{{ item.help_text }}</small>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if pagination|default:None is not None %}
        <ul class="results-pagination" role="navigation" aria-label="Pagination">
            <li><a href="#">Previous</a></li>
            <li class="pull-right"><a href="#">Next</a></li>
        </ul>
    {% endif %}

</div>
